<% content_for :title do
  '频道管理'
end %>

<div class="row">
  <div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->
    <table class="table table-bordered table-striped table-condensed table-hover">
      <thead>
      <tr>
      <th>名称</th>
      </thead>
      <tbody>
      <% @channels.each do |channel|%>
       <tr>
         <td><%= channel.name%></td>
       </tr>
      <%end%>
      </tbody>
    </table>
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->