<%
   content_for :title do
     '节目编排'
   end

   content_for :sub_title do
     '编排模板'
   end

%>

<% content_for :top_toolbox do %>
    <%= link_to new_program_plan_template_path, :class => 'btn btn-xs btn-info' do %>
        <i class="icon-plus"></i>
        添加
    <% end %>

<% end %>
<div class="row">
  <div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->
    <table class="table table-bordered table-striped table-condensed table-hover">
      <thead>
      <tr>
      <th>名称</th>
      </thead>
      <tbody>
      <% @templates.each do |template| %>
          <tr>
            <td><%= template.name %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->