<% content_for :title do
  '节目编排'
end %>

<div class="page-header">
  <h1>节目编排
    <small>
      <i class="icon-double-angle-right"></i>
      编排模板
    </small>
  </h1>
</div>

<div class="row">
  <div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->
    <table class="table table-bordered table-striped table-condensed table-hover">
      <thead>
      <tr>
      <th>名称</th>
      </thead>
      <tbody>
      <% @templates.each do |template|%>
          <tr>
            <td><%= template.name%></td>
          </tr>
      <%end%>
      </tbody>
    </table>
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->