<div class="breadcrumbs" id="breadcrumbs" style="padding-left: 20px;">
  <script type="text/javascript">
      try {
          ace.settings.check('breadcrumbs', 'fixed')
      } catch (e) {
      }
  </script>

  <div class="pull-left" style="width: 300px;">
    <h4><%= yield :title%>
      <%if content_for? :sub_title%>
      <small>
        <i class="icon-double-angle-right"></i>
        <%= content_for :sub_title%>
      </small>
      <%end%>
    </h4>
  </div>
  <div class="top_toolbox">
    <%= content_for :top_toolbox %>
  </div>

  <div style="position: absolute; top: 6px; right: 22px; line-height: 24px">
    <%= content_for :top_toolbox_right%>
  </div>

</div>