<div class="top-nav">
  <ul>

    <%= main_nav_link '仪表盘',   root_path,   raw("&#xe0a0;") %>
    <%= main_nav_link '电影库',   movies_path, raw("&#xe013;") %>

  </ul>
  <div class="clearfix"></div>
</div>