<div id="sidebar">
  <a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
  <ul>
    <li id="main-dashboard">
      <%= link_to root_path do %>
          <i class="icon icon-home"></i> <span>仪表盘</span>
      <% end %>

    </li>
    <li id="main-movies">
      <%= link_to movies_path do %>
          <i class="icon icon-film"></i><span>电影</span>
      <% end %>
    </li>

    <li id="main-broadcasts">
      <%= link_to broadcasts_path do %>
          <i class="icon icon-play-circle"></i><span>播出</span>
      <% end %>
    </li>
  </ul>

</div>