<div class="sub-nav">

  <%= yield :sub_nav%>

  <input type="search" class="input-search hidden-phone" placeholder="Search">

  <div class="btn-group pull-right">
    <button class="btn btn-warning2">
      Main Navigation
    </button>
    <button class="btn btn-warning2 dropdown-toggle" data-toggle="dropdown">
              <span class="caret">
              </span>
    </button>
    <ul class="dropdown-menu pull-right">
      <li>
        <a data-original-title="" href="index.html">
          Dashboard
        </a>
      </li>
      <li>
        <a data-original-title="" href="forms.html">
          Forms
        </a>
      </li>
      <li>
        <a data-original-title="" href="graphs.html">
          Graphs
        </a>
      </li>
      <li>
        <a data-original-title="" href="ui-elements.html">
          UI Elements
        </a>
      </li>
      <li>
        <a data-original-title="" href="icons.html">
          Icons
        </a>
      </li>
      <li>
        <a data-original-title="" href="tables.html">
          Tables
        </a>
      </li>
      <li>
        <a data-original-title="" href="media.html">
          Media
        </a>
      </li>
      <li>
        <a data-original-title="" href="calendar.html">
          Calendar
        </a>
      </li>
      <li>
        <a data-original-title="" href="typography.html">
          Typography
        </a>
      </li>
      <li>
        <a data-original-title="" href="edit-profile.html">
          Edit Profile
        </a>
      </li>
      <li>
        <a data-original-title="" href="invoice.html">
          Invoice
        </a>
      </li>
      <li>
        <a data-original-title="" href="login.html">
          Login
        </a>
      </li>
      <li>
        <a data-original-title="" href="404.html">
          404 Page
        </a>
      </li>
      <li>
        <a data-original-title="" href="500.html">
          500 Page
        </a>
      </li>
      <li>
        <a data-original-title="" href="help.html">
          Help
        </a>
      </li>
    </ul>
  </div>
</div>