<%
content_for :title do '播出记录' end

%>

<div class="page-header">
  <h1>
     播出记录
    <small>
      <i class="icon-double-angle-right"></i>
      历史记录
    </small>
  </h1>
</div>
<!-- /.page-header -->